function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 1
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 1
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 1
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 1
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 1
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 1
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 4
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto L0_if_else
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto L1_if_end
label L0_if_else
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label L1_if_end
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 1
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto L2_if_else
push this 4
push this 5
add
pop this 4
goto L3_if_end
label L2_if_else
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto L4_if_else
push this 7
not
if-goto L6_if_else
push this 0
push constant 4
add
pop this 0
goto L7_if_end
label L6_if_else
push this 1
push constant 4
add
pop this 1
label L7_if_end
goto L5_if_end
label L4_if_else
push this 7
not
if-goto L8_if_else
push this 0
push constant 4
sub
pop this 0
goto L9_if_end
label L8_if_else
push this 1
push constant 4
sub
pop this 1
label L9_if_end
label L5_if_end
label L3_if_end
push this 8
not
if-goto L10_if_else
push this 7
not
if-goto L12_if_else
push this 1
push constant 4
add
pop this 1
goto L13_if_end
label L12_if_else
push this 0
push constant 4
add
pop this 0
label L13_if_end
goto L11_if_end
label L10_if_else
push this 7
not
if-goto L14_if_else
push this 1
push constant 4
sub
pop this 1
goto L15_if_end
label L14_if_else
push this 0
push constant 4
sub
pop this 0
label L15_if_end
label L11_if_end
push this 0
push this 10
gt
not
not
if-goto L16_if_else
push constant 1
pop this 14
push this 10
pop this 0
goto L17_if_end
label L16_if_else
label L17_if_end
push this 0
push this 11
lt
not
not
if-goto L18_if_else
push constant 2
pop this 14
push this 11
pop this 0
goto L19_if_end
label L18_if_else
label L19_if_end
push this 1
push this 12
gt
not
not
if-goto L20_if_else
push constant 3
pop this 14
push this 12
pop this 1
goto L21_if_end
label L20_if_else
label L21_if_end
push this 1
push this 13
lt
not
not
if-goto L22_if_else
push constant 4
pop this 14
push this 13
pop this 1
goto L23_if_end
label L22_if_else
label L23_if_end
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 6
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto L24_if_else
push constant 10
pop local 4
goto L25_if_end
label L24_if_else
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto L26_if_else
push constant 20
pop local 4
goto L27_if_end
label L26_if_else
push constant 5
pop local 4
label L27_if_end
label L25_if_end
push this 14
push constant 1
eq
not
if-goto L28_if_else
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto L29_if_end
label L28_if_else
push this 14
push constant 2
eq
not
if-goto L30_if_else
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto L31_if_end
label L30_if_else
push this 14
push constant 3
eq
not
if-goto L32_if_else
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto L33_if_end
label L32_if_else
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label L33_if_end
label L31_if_end
label L29_if_end
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
